%% -*- erlang -*-

{port_specs, [
    {"priv/erstar_geo.so", ["c_src/geo/*.c"]}
]}.

{port_env, [

    {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Werror -O3"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}

]}.

{erl_opts, [
    {d, 'NIFEXT', true},
    debug_info,
    bin_opt_info,
    warn_missing_spec
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
